<div class="container" ng-controller="favoritesPageController">
  <h2>Total Favorites: {{favoriteCount}}</h2>
      <div class = "container" id="favoritesList" ng-repeat="favorite in favorites">
        <div class="col-md-3">
          <h4>PetFinder ID: {{favorite.petFinderId}}</h4>
      </div>
      <div class="col-md-4">
        <img ng-src={{favorite.image}}></img>
      </div>
      <div class="col-md-5">
        <h4>Name: {{favorite.name}}</h4>
        <p class="favorite-description">Description: {{favorite.description}}</p>
      </div>
</div>
