<div class="container">
  <h2>Total Favorites: {{favoriteCount}}</h2>
      <div class = "container" id="favoritesList" ng-repeat="favorite in favorites">
        <div class="col-md-3">
          <h4>PetFinder ID: {{favorite.petFinderId}}</h4>
          <h4>Animal Type: {{favorite.type}}</h4>
      </div>
      <div class="col-md-5">
        <img ng-src={{favorite.image}}></img>
      </div>
      <div class="col-md-3">
        <h4>Name: {{favorite.name}}</h4><button class="delete" ng-click="deleteFavorite(favorite._id)">Delete this Pet</button>
        <p class="favorite-description">Description: {{favorite.description}}</p>

      </div>
</div>
