<div class="container" ng-controller="homeController">
  <h1 class="text-center">Welcome to Beautiful, Lonely Pets!</h1>
  <h2 class="text-center">Take your time, and find just the right pet for you.</h2>
    <div class="col-md-12"
      <section id="petfind">

      <table>
        <tr>
          <td>
          <select ng-model="petType" ng-options="petType.type for petType in species">
          <option value="">Select an Animal Type</option>
        </select>
      </td>
      <td>
          <div class="pet-type">
            <a href="#{{petType.type}}">Find Your Next Pet</a>
        </div>
      </td>
      </tr>
    </table>
    <div class="pets-photo col-md-10">
    </div>
</div>
